body {
  background-color: thistle;
  margin: 0;
  padding: 0;
  background-image: url(bakgrundsbild.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

header {
  font-family: fantasy;
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
}

#meny {
  display: flex;
}

a {
  font-family: fantasy;
  color: white;
  margin-right: 10vw;
  padding: 1vw;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

a:hover {
  background-color: rgba(245, 245, 245, 0.63);
  color: black;
  border-radius: 20px;
}

.mainblock {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 100px;
  font-family: fantasy;
  color: white;
  padding: 1vw;
  display: flex;
  flex-direction: column;
}

.textruta1 {
  display: flex;
  align-items: center;
}

.textruta2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#Bild1 {
  height: 10vw;
  width: 20vw;
  margin: 0 2.5vw;
  border-radius: 20px;
}

#Bild2 {
  height: 10vw;
  width: 10vw;
  margin: 0 2.5vw;
  border-radius: 20px;
}

footer {
  position: relative;
  background-color: solid rgba(0, 0, 0, 0.63);
  display: flex;
  justify-content: center;
  align-self: flex-end center;
}
