body {
  background-color: thistle;
  margin: 0;
  padding: 0;
  background-image: url(bakgrundsbild.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
}

#meny {
  display: flex;
}

#meny a {
  color: white;
  margin-right: 10vw;
  padding: 1vw;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

#meny a:hover {
  background-color: rgba(245, 245, 245, 0.63);
  color: black;
  border-radius: 20px;
}

.mainblock {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 100px;
  color: white;
  padding: 1vw;
  display: flex;
  flex-direction: column;
}

.mainblock a {
  color: rgb(255, 190, 68);
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

.mainblock a:hover {
  color: rgba(255, 190, 68, 0.7);
  text-decoration: none;
}

.textruta1 {
  display: flex;
  align-items: center;
}

.textruta2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#Bild1 {
  height: 10vw;
  width: 20vw;
  margin: 0 2.5vw;
  border-radius: 20px;
}

#Bild2 {
  height: 10vw;
  width: 10vw;
  margin: 0 2.5vw;
  border-radius: 20px;
}

.mainblock h2,
.mainblock h3 {
  color: rgb(255, 190, 68);
}

.rubriker {
  padding: 0 5vw;
}

.lista {
  display: flex;
}

.lista img {
  height: 15vw;
  width: 15vw;
  padding-right: 2vw;
  padding-top: 1.7vw;
}

footer {
  position: relative;
  padding: 0.5vw;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  display: flex;
  justify-content: center;
}

.footer {
  flex-direction: column;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 0.2vw;
  transition: all 0.4s ease 0s;
}

.footer a:hover {
  background-color: rgba(245, 245, 245, 0.63);
  color: black;
  border-radius: 20px;
}
