body {
  margin: 0;
  padding: 0;
}

header {
  font-family: fantasy;
  padding: 8px;
  background-color: white;
  color: black;
}

a {
  font-family: fantasy;
  color: black;
}

#uppvaxt {
  background-color: transparent;
  border: 4px black;
  display: block;
}

#Bild1 {
  background-color: black;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
